{% extends 'shop/basic.html' %}

{% block title%} {{product.product_name}} - My Awesome Cart{% endblock %}
{% block css %}

.card-img-top {
    width: 50%;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
}
{% endblock %}
{% block body %}
<div class ="container mt-5 ">

    <div class="row">
    <div class="col-md-4 mt-2">

            <img src='/media/{{product.image}}' class="card-img-top" width="25px" alt="...">

    </div>
    <div class="col-md-8 mt-5">
        <form action="/shop/productview/{{product.product_id}}" method="POST" >
    {% csrf_token %}
        <h4><b>{{product.product_name}}</b></h4>
        <h5><b>Mrp Rs: </b>{{product.price}}</h5>
        <p><b>Product Description :</b> <br>{{product.desc}}<br>
            <button type='submit' name = "add" class="btn btn-primary cart">Add To Cart</button>
        <button type='submit' name="rem" class="btn btn-primary clear">Remove item</button></p>
    </form>
    </div>
    </div>


</div>




{% endblock %}
{% block js %}
<script>
$('#popcart').popover();
</script>
{% endblock %}