
{% extends 'shop/basic.html' %}
{% block title %} Sign Up {% endblock %}
{% block body %}
 <div class="container mt-5">
     <h3>Sign In</h3>
     <form action="/shop/signin/" method="POST">{% csrf_token %}
          <div class="form-group">
    <label for="name">Email</label>
    <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email" required>
  </div>
          <div class="form-group">
              <label for="name">Password</label>
     <input type="password" class="form-control" id="password" name="password" placeholder="Enter Your Password" minlength="8" required>
  </div>
   <div class="form-group">
  <a href="/shop" ><button type="submit" class="btn btn-success">SIGN IN</button></a>
   </div>



{% endblock %}