{% extends 'shop/basic.html' %}
{% block title %}ERROR : User already exist  {% endblock %}

{% block css %}
          .center {
              padding: 70px 0;
              text-align: center;
            }
            .block {
                  width: 40%;
                  border: none;
                  padding: 20px 28px;
                  font-size: 16px;
                  cursor: pointer;
                }
 {% endblock %}
{% block body %}

    <div class="container center">
        <h2> <b>We are Sorry!!</b> </h2>
        <br><h4> <b>Looks Like User Already Exist!!</b></h4> <br> <h6>Please sign up with a different email.</h6><br>
                        <a href="/shop/signup" ><button  type='submit' name = "add" class="block btn btn-primary cart">&leftarrow;Go Back</button></a>
</div>
{% endblock %}